body, html {
  height: 100%;
  margin: 0;
  background-color:#DEDBDB;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::selection{
  background: rgb(0,123,255,0.3);
}
.content{
  max-width: 1250px;
  margin: auto;
  padding: 0 30px;
  /*background-color: yellow;*/
}
.navbar{
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 25px 0;
  transition: all 0.3s ease;
}
.navbar.sticky{
  background: #1b1b1b;
  padding: 10px 0;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.navbar .logo a{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;  
}
.navbar .menu-list{
  display: inline-flex;
}
.menu-list li{
  list-style: none;
}
.menu-list li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover{
  color: #007bff;
}
.about{
  padding: 0px 0;
  background-color: inherit;
}
.about .title{
  padding: 30px 0;
  margin-left: 325px; 
  font-size: 38px;
  font-weight: 700;
}
.about p{
  padding-top: 20px;
  text-align: justify;
}
.icon{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.menu-list .cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}
@media (max-width: 1230px) {
  .content{
    padding: 0 60px;
  }
}
@media (max-width: 1100px) {
  .content{
    padding: 0 40px;
  }
}
@media (max-width: 900px) {
  .content{
    padding: 0 30px;
  }
}
@media (max-width: 868px) {
  body.disabled{
    overflow: hidden;
  }
  .icon{
    display: block;
  }
  .icon.hide{
    display: none;
  }
  .navbar .menu-list{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #222;
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list{
    left: 0%;
  }
  .navbar .menu-list li{
    margin-top: 45px;
  }
  .navbar .menu-list li a{
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a{
    margin-left: 0px;
  }
}
@media (max-width: 380px) {
  .navbar .logo a{
    font-size: 27px;
  }
}

.bg { 
  height: 150px;
  background-image:url("Images/background.png"); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color:yellow;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/*Slide Show iMAGES*/

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: white;
  font-size: 20px;
  font-weight: bolder;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 17px;
  font-weight: bolder;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
/*Register page*/
.studname{
   display: block;
   width: 100%;
   font-size: 12pt;
   line-height: 12pt * 2;
   font-family: Arial;

}

#mobile{
     float: right; 
}
.container{
      background: #f8f4e5;
      padding: 50px 100px;
      border-top: 10px solid #f45702;
}

.container label, input, textarea{
  font-size: 12pt;
  line-height: 24pt;
  font-family: Arial;
}

.container input{
  margin-bottom: 12pt;
}
.container input, textarea, select{
  border: none;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 2px;
  background: #f8f4e5;
  padding-left: 5px;
  outline: none;
}
.container input:focus, textarea:focus ,select:focus{
  border: 2px solid #6bd4b1;
}
.container select{
  font-size: 14pt;
  font-family: Arial;
  width: 120pt;
}
.container h3{
  font-weight: normal;
  font-size: 30pt;
  line-height: 24pt;
  margin: 0 0 .5em 0;
  letter-spacing: 2px;
}

#register{
  display: block;
  float: right;
  line-height: 24pt;
  padding: 0 20px;
  border: none;
  background: #f45702;
  color: white;
  letter-spacing: 2px;
  transition: .2s all ease-in-out;
  border-bottom: 2px solid transparent;
  outline: none;
}

#register:hover{
  background: inherit;
  color: #f45702;
  border-bottom: 2px solid #f45702;
}

#register::selection{
  background: rgb(255, 199, 184);
}

/*Home page*/
.information{
  width: 90%;
  height: 350px;
  background-color: inherit;
  margin: auto;
  color: white; 
  text-align: center;
  font-size: 14pt;
}
.information h2{
      color: black; 

}
#Python {
    border-radius: 5px;
    height: 300px;
    width: 30%;
    float: left;
    margin: 15px 20px 10px 10px;
    background-color: #F7623D;
    padding: 10px 10px 10px 10px;
    transition: width 0.5s ,height 0.5s;
}
#Java {
    border-radius: 5px;
    height: 300px;
    float: right;
    width: 30%;
    margin: 15px 10px 20px 10px;
    background-color: #14D085;
    padding: 10px 10px 10px 10px;
    transition: width 0.5s ,height 0.5s;
}

#R {
    border-radius: 5px;
    height: 300px;
    width: 30%;
    margin:10px auto;
    transform: translateY(15px);
    background-color: #0BCCD2;
    padding: 10px 10px 10px 10px;
    transition: width 0.5s ,height 0.5s;
}

#Python:hover, #Java:hover,#R:hover{
  width: 34%;
  height: 320px;
  cursor: pointer;
}

#log{
  transform: translateX(20px);
  font-weight: bold;
  text-transform: uppercase;
}

#student_login{
  height: 60%;
  width: 30%;
  border: 1px solid white;
  border-radius: 5px;
  margin:auto;
  transform: translateY(200px);
  background: #f8f4e5;
  padding: 50px 100px;
  border-top: 10px solid #f45702;
}
.container label, input, textarea{
font-size: 12pt;
line-height: 24pt;
font-family: Arial;
}

.container input{
margin-bottom: 12pt;
}
.container input, textarea, select{
border: none;
border: 1px solid rgba(0,0,0,.2);
border-radius: 2px;
background: #f8f4e5;
padding-left: 5px;
outline: none;
}
.container input:focus, textarea:focus ,select:focus{
border: 2px solid #6bd4b1;
}

/* login */

#login_table{
  /*transform: translateX(60px);*/
  text-align: center;

}

.login-container label, input, textarea{
font-size: 12pt;
line-height: 24pt;
font-family: Arial;
}


.login-container input, textarea, select{
border: none;
border: 1px solid rgba(0,0,0,.2);
border-radius: 2px;
background: #f8f4e5;
padding-left: 5px;
outline: none;
}

.login-container input:focus, textarea:focus ,select:focus{
border: 2px solid #6bd4b1;
}

#student-login{
  width: 55%;
  line-height: 28pt;
  padding: 0 20px;
  border: none;
  background: #f45702;
  color: white;
  letter-spacing: 2px;
  transition: .2s all ease-in-out;
  border-bottom: 2px solid transparent;
  outline: none;
}

#student-login:hover{
  background: inherit;
  color: #f45702;
  border-bottom: 2px solid #f45702;
}

#student-login::selection{
  background: rgb(255, 199, 184);
}

/* update-process */
.updatedisplay{
  width: 100%;
  background: #f8f4e5;
  padding: 50px 100px;
  border-top: 10px solid #f45702;
}

.updatedisplay label, input, textarea{
font-size: 12pt;
line-height: 24pt;
font-family: Arial;
}

.updatedisplay input{
margin-bottom: 12pt;
}
.updatedisplay input, textarea, select{
border: none;
border: 1px solid rgba(0,0,0,.2);
border-radius: 2px;
background: #f8f4e5;
padding-left: 5px;
outline: none;
}
.updatedisplay input:focus, textarea:focus ,select:focus{
border: 2px solid #6bd4b1;
}
.updatedisplay select{
font-size: 14pt;
font-family: Arial;
width: 120pt;
}
.updatedisplay h3{
font-weight: normal;
font-size: 30pt;
line-height: 24pt;
margin: 0 0 .5em 0;
letter-spacing: 2px;
}

#update-student{
display: block; 
line-height: 24pt;
padding: 0 20px;
border: none;
background: #f45702;
color: white;
letter-spacing: 2px;
transition: .2s all ease-in-out;
border-bottom: 2px solid transparent;
outline: none;
}

#update-student:hover{
background: inherit;
color: #f45702;
border-bottom: 2px solid #f45702;
}

#update-student::selection{
background: rgb(255, 199, 184);
}

/*Footer CSS*/
.footer {
  text-align: center;
}
.footer hr{
  width: 50%;
  margin: auto;
}
.footer ul {
  display: inline-flex;
}
.footer li{
  list-style: none;
  margin: 5px 10px 10px 10px;
}
.footer li a {
  border-radius: 50%;
}
.footer li a:hover{
  background-color: white;
}